.container {
    display: flex;
    justify-content: space-around;
    margin: 100px 50px;

}

#th {
    color:rgb(244,184,14);
}

#td {
    color: white;
}

.col1, .col2 {
    background-color: rgb(52,57,62);
    width:450px;
    border: 3px solid black;
    padding: 20px;
}

.col_title {
    color: rgb(4,122,252);
    text-align: center;
}

label {
    color:rgb(244,184,14)
}

li {
    list-style: none;
}

a {
    color:rgb(244,184,14);
    
}

select {
    height: 40px;
    width: 100%;
}

#add_button {
    background-color:rgb(244,184,14);
    padding: 5px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}