<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap" rel="stylesheet">
    <!-- bootstrap css -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <!-- my css -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/mylist.css') }}"
    />
    <title>Cocktail</title>
  </head>
  <body>
    <div class="wrap">
        <div class="jumbotron">
            <h1 class="display-4">My Cocktail List!</h1>
            <div id="button">
              <a href="/dashboard" class="btn btn-primary btn-lg">Home</a>
              <a href="/logout" class="btn btn-primary btn-lg">Logout</a>
            </div>
            <p class="lead">Favorite cocktail list...</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="/cocktail/new" role="button">Create My Own Cocktail Recipe..</a>
        </div>
          <div id="card_list">
            {% for cocktail in user_cocktails %}
            <div class="card" style="width: 18rem;">
              <img src="{{cocktail.img_url}}" class="card-img-top" alt="...">
              <div class="card-body">
              <h5 class="card-title">{{ cocktail.name }}</h5>
              <p class="card-instruction">{{cocktail.instruction}}</p>
              <p class="card_ingredient">{{cocktail.ingredient}}</p>
              <a href="/cocktail/mylist/{{cocktail.id}}" class="btn btn-primary">View</a>
              <a href="/cocktail/mylist/{{cocktail.id}}/delete" class="btn btn-primary">Delete</a>
            </div>
          {% endfor %}
          </div>
          
    </div>

    <!-- bootstrap js -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <!-- my js -->
    <script src="static/js/script.js"></script>
  </body>
</html>
