<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap" rel="stylesheet">
    <!-- bootstrap css -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <!-- my css -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/detail.css') }}"
    />
    <title>Cocktail</title>
  </head>
  <body>
    <div class="wrap">
      <div class="jumbotron">
          <h1 class="display-4">My Cocktail List!</h1>
          <div id="button">
            <a href="/dashboard" class="btn btn-primary btn-lg">Home</a>
            <a href="/logout" class="btn btn-primary btn-lg">Logout</a>
          </div>
          <p class="lead">Welcome {{user.first_name}}!</p>
          <hr class="my-4">
          <p class="lead">Favorite cocktail</p>
          <a class="btn btn-primary btn-lg" href="/cocktail/new" role="button">Create My Own Cocktail Recipe..</a>
      </div>
      <div class="container">
        <div class="col1">
          <img src="{{cocktail.img_url}}" alt="cocktail-img">
        </div>
        <div class="col2">
            <div class="d-flex">
              <div class="p-2"><p>Name :</p></div>
              <div class="p-2 flex-grow-1">
                <p>{{cocktail.name}}</p>
              </div>
            </div>            
            <div class="d-flex">
              <div class="p-2"><p>Instruction :</p></div>
              <div class="p-2 flex-grow-1">
                <p>{{cocktail.instruction}}</p>
              </div>
            </div>
            <div class="d-flex">
              <div class="p-2"><p>Ingredients :</p></div>
              <div class="p-2 flex-grow-1">
                <p>{{cocktail.ingredient}}</p>
              </div>
            </div>
            <a href="/cocktail/mylist/{{cocktail.id}}/edit" class="btn btn-success">Edit</a>
      </div>
      
  
      </div>
    </div>
    
    <!-- bootstrap js -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <!-- my js -->
    <script src="static/js/script.js"></script>
  </body>
</html>
