<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap" rel="stylesheet">
    <!-- bootstrap css -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <!-- my css -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/edit.css') }}"
    />
    <title>Cocktail</title>
  </head>
  <body>
    <div class="wrap">
      <div class="jumbotron">
        <h1 class="display-4">My Cocktail List!</h1>
        <div id="button">
          <a href="/dashboard" class="btn btn-primary btn-lg">Home</a>
          <a href="/logout" class="btn btn-primary btn-lg">Logout</a>
        </div>
        <hr class="my-4">
        <p class="lead">Favorite cocktail</p>
        <a class="btn btn-primary btn-lg" href="/cocktail/new" role="button">Create My Own Cocktail Recipe..</a>
    </div>
        <div class="container">
            <form action="/cocktail/mylist/{{cocktail.id}}/update" method="post">
                <div class="mb-3">
                    <label for="name">Cocktail Name</label>
                    <input class="form-control" type="text" name="name" id="name" value="{{cocktail.name}}"/>
                    {% for message in
                    get_flashed_messages(category_filter=['err_cocktails_name'])%}
                    <p class="alert alert-danger">{{ message }}</p>
                    {% endfor%}
                  </div>
                  <div class="mb-3">
                    <label for="instruction">Instruction</label>
                    <input
                      class="form-control"
                      type="text"
                      name="instruction"
                      id="instruction"
                      value="{{cocktail.instruction}}"
                    />
                    {% for message in
                    get_flashed_messages(category_filter=['err_cocktails_instruction'])%}
                    <p class="alert alert-danger">{{ message }}</p>
                    {% endfor%}
                  </div>
                  <div class="mb-3">
                    <label for="ingredient">Ingredient</label>
                    <input class="form-control" type="text" name="ingredient" id="ingredient" value="{{cocktail.ingredient}}" />
                    {% for message in
                    get_flashed_messages(category_filter=['err_cocktails_ingredient'])%}
                    <p class="alert alert-danger">{{ message }}</p>
                    {% endfor%}
                  </div>
                  <div class="mb-3">
                    <label for="img_url">Img_url</label>
                    <input
                      class="form-control"
                      type="text"
                      name="img_url"
                      id="img_url"
                      value="{{cocktail.img_url}}"
                    />
                    {% for message in
                    get_flashed_messages(category_filter=['err_cocktails_img_url'])%}
                    <p class="alert alert-danger">{{ message }}</p>
                    {% endfor%}
                  </div>
                    <button class="btn btn-success">Update Information</button>
                    <a href="/cocktail/mylist" class="btn btn-success">Cancel</a>
                  </div>  
            </form>
        </div>
    </div>
    <!-- bootstrap js -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <!-- my js -->
    <script src="static/js/script.js"></script>
  </body>
</html>
