<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=
    , initial-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/style.css')}}"
    />
    <title>Dojo Survey Index</title>
  </head>
  <body>
    <form action="/process" method="post">
      <h1>Dojo Survey</h1>
      <div class="form-group">
        <label>Name:</label><br />
        <input type="text" class="form-control" name="name" id="name" />
      </div>
      <div class="mb-3">
        <label for="location">Dojo Location:</label><br />
        <select class="form-control" name="location" id="location">
          <option value="">-- Select location --</option>
          <option value="chicago">Chicago</option>
          <option value="seattle">Seattle</option>
          <option value="new york">New York</option>
          <option value="dallas">Dallas</option>
          <option value="atlant">Atlanta</option>
          <option value="online">Online</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="language">Favorite Language:</label><br />
        <select class="form-control" name="language" id="language">
          <option value="">-- Select a language --</option>
          <option value="python">Python</option>
          <option value="java">Java</option>
          <option value="javascript">JavaScript</option>
          <option value="c#">C#</option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form" for="comment">Comment (optional):</label><br />
        <textarea
          class="form-control"
          name="comment"
          id="comment"
          rows="5"
        ></textarea>
      </div>
      <div class="mb-3">
        <label class="form-label">Do you enjoy to learn coding?</label>
        <div>
          <input type="radio" name="enjoy_question" id="like" value="Like" />
          <label>Like!!</label>
        </div>
        <div>
          <input
            type="radio"
            name="enjoy_question"
            id="dislike"
            value="Dislike"
          />
          <label>Dislike</label>
        </div>
        <div>
          <input type="radio" name="enjoy_question" id="maybe" value="Maybe" />
          <label>Maybe...</label>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Choose your class</label>
        <div>
          <input type="checkbox" name="class" id="class" value="On-line" />
          <label>On-line</label>
        </div>
        <div>
          <input type="checkbox" name="class" id="class" value="Off-line" />
          <label>Off-line</label>
        </div>
      </div>
      <div class="button">
        <button type="submit">Submit</button>
      </div>
    </form>
  </body>
</html>
