<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/style.css')}}"
    />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <title>Create User</title>
  </head>
  <body>
    <a href="/users" class="home_button">Home</a>
    <form action="/users/new" method="post">
      <div id="create_box">
        <h1>Add a New User</h1>
        <label for="first_name">First Name</label>
        <input class="form-control" type="text" name="first_name" />
        <label for="last_name">Last Name</label>
        <input class="form-control" type="text" name="last_name" />
        <label for="email">Email</label>
        <input class="form-control" type="text" name="email" />
        <button id="button" type="submit">Create</button>
        <br />
        <a href="/users">Go Back</a>
      </div>
    </form>
  </body>
</html>
