* {
    font-family: "Stylish", sans-serif;
}

.wrap {
    width: 1200px;
    margin: auto;
}

#card-list {
    overflow: scroll;
}

.card {
    overflow:scroll;
    height: 600px;
    float: left;
    margin: 10px 5px;
}