* {
    font-family: 'Noto Sans', sans-serif;
}

.wrap {
    width: 1200px;
    margin: auto;
}

.jumbotron {
    color: white;
    padding: 20px;
    margin-bottom: 50px;
    background-image: url(../images/background_img.jpeg);
    background-position: center;
    background-size: cover;
}

.logout {
    position: absolute;    
    top:20px;
    right:150px;
}

#mylist_button {
    margin-bottom: 50px;
}

#card-list {
    overflow: scroll;
}

.card {
    overflow:scroll;
    height: 600px;
    float: left;
    margin: 10px 5px;
}
.alphabet > button {
    padding:5px 10px;
}
.alphabet {
    float: left;
}
.border_line {
    width:100%;
    height:2px;
    float: left;
    background-color: red;
    margin-bottom: 40px;
}