* {
    font-family: 'Noto Sans', sans-serif;
}

.wrap {
    width: 1200px;
    margin: auto;
}

.jumbotron {
    color: white;
    padding: 20px;
    margin-bottom: 50px;
    background-image: url(../images/background_img.jpeg);
    background-position: center;
    background-size: cover;
}

#button {
    position: absolute;    
    top:20px;
    right:150px;
}

#card-list {
    overflow: scroll;
}

.card {
    height: 600px;
    float: left;
    margin: 10px 5px;
}
