<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/css/people.css')}}"
    />
    <title>My Frist Flask App</title>
  </head>
  <body>
    <h1>My First Flask App</h1>
    <table>
      <thead>
        <tr>
          <th>Num</th>
          <th>Name</th>
          <th>Age</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for num in range(age) %} {% if num % 2 == 0 %}
          <td>{{ num }}</td>
          <td>{{ name }}</td>
          <td>{{ age }}</td>
        </tr>
        {% else %}
        <tr>
          <td>nothing</td>
          <td>1</td>
          <td>2</td>
        </tr>
        {% endif %} {% endfor %}
      </tbody>
    </table>
  </body>
</html>
