

.container {
    display: flex;
    justify-content: space-evenly;
    margin: 100px 50px;

}

.col1, .col2 {
    background-color: rgb(52,57,62);
    width:450px;
    border: 3px solid black;
    padding: 20px;
}

.col_title {
    color: rgb(4,122,252);
    text-align: center;
}

label {
    color:rgb(244,184,14)
}

#p_tag {
    color:rgb(244,184,14);
}
p {
    color:white;
}

li {
    list-style: none;
}

a {
    color:rgb(244,184,14);
}

#home_button {
    position: absolute;
    left: 170px;
}

#th {
    color: rgb(244,184,14);
}

#td {color:white;}