<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/style.css')}}"
    />
    <title>Checkerboard</title>
    <style>
      h1 {
         background-color: {{row_color}};
         color: {{column_color}};
      }
       #box1 {
           background-color: {{row_color}};
       }

       #box2 {
           background-color: {{column_color}};
       }
    </style>
  </head>
  <body>
    <h1>***Checkerboard***</h1>
    {% for y in range (0, num_y) %}
    <div id="row">
      {% for x in range( 0, num_x) %}
      <div id="box{{((x+y)%2)+1}}"></div>
      {% endfor %}
    </div>
    {% endfor %}
  </body>
</html>
