.container {
    border:3px solid black;
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color:  rgb(52,57,62);
    color:rgb(244,184,14);
}

h1 {
    text-align: center;
}

#th {
    color: rgb(244,184,14);
}

#td {
    color: white;
}

.home_button {
    color: rgb(244,184,14);
}