<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=
    , initial-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/style.css')}}"
    />
    <title>Dojos and Ninas</title>
  </head>
  <body>
    <form action="/savedojo" method="post">
      <div class="container">
        <div class="col1">
          <h1>New Dojo</h1>
          <div class="form-group">
            <label>Name:</label><br />
            <input type="text" class="form-control" name="name" id="name" />
          </div>
          <button type="submit">Create</button>
        </div>

        <div class="col2">
          <h1>All Dojos</h1>
          <ul>
            {% for user in users %}
            <li>
              <a href="/dojos/{{user.id}}">{{ user.name }}</a>
            </li>
            {% endfor %}
          </ul>
          <a href="/ninjas">Add Ninja</a>
        </div>
      </div>
    </form>
  </body>
</html>
