<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='style_author_detail.css') }}"
    />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <title>Author Show</title>
  </head>
  <body>
    <div class="container">
      <div class="col1">
        <h1 class="col_title">{{author.name}}'s' favorites</h1>
        <table class="table table-striped">
          <tr>
            <th scope="col" id="th">Title</th>
            <th scope="col" id="th"># of pages</th>
          </tr>
          {% for book in author.favorites %}
          <tr>
            <td id="td">{{ book.title }}</td>
            <td id="td">{{ book.num_of_pages }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <div class="col2">
        <h1 class="col_title">Add {{author.name}}'s Favorite</h1>
        <form action="/authors/favorite/{{author.id}}" method="post">
          <label>Book:</label>
          <select name="book" id="book">
            {% for book in books%}
            <option value="{{book.id}}">{{book.title}}</option>
            {% endfor %}</select
          ><br />
          <button type="submit">Add</button>
        </form>
      </div>
    </div>
    <a href="/authors" id="home_button">Home</a>
  </body>
</html>
