<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='style.css') }}"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="col1">
        <h1 class="col_title">New Author</h1>
        <form action="/authors/save" method="post">
          <label>Name:</label>
          <input type="text" name="name" id="name" /><br />
          <button type="submit">Create</button>
        </form>
      </div>
      <div class="col2">
        <h1 class="col_title">All Authros</h1>
        <ul>
          {% for author in authors %}
          <a href="">{{ author.name }}</a>
          {% endfor %}
        </ul>
      </div>
    </div>
    <a href="" id="add_button">Add Book</a>
  </body>
</html>
